.mainbloc {
    background-color:rgb(255, 239, 201);
    border-style: solid;
    border-width: 0.6vw;
}
            
.featurebloc {
  background-color:rgb(255, 239, 201);
  border-style: none solid solid solid;
  border-width: 0.6vw;
}
            
.flexed {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
            
.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom:0;
  margin : 0;
  padding-top:0;
}
            
.image {
  margin-bottom:0;
  margin : 0;
  padding-top:0;
}
            
h1 {
  font-size: 8vw;
}
            
hr {
  display: block;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  border-width: 0.1vw;
}
